{% extends 'base.html' %}

{% block content %}
<main>
    <h1>All Formula 1 2022 Season Tracks</h1>
    {% for track in track_list %}
    <div>
        <a href="{% url 'track_detail' track.id %}"> {{ track.official_title }} </a>
    </div>
    <div>
        <img src="https://content.presspage.com/uploads/2363/1920_01-bh-preview-en-2.jpg?10000" alt="A track layout map for {{ track.title }}.">
    </div>
    {% endfor %}
</main>
{% endblock content %}