{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="{% url 'track_list' %}">All Tracks</a>
            </li>
        </ul>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>